a {
  /*color: blue;*/
  color: #137279;
  /*text-decoration: none;*/
  }
  
a:hover {
  text-decoration: underline;
}

.section {
  float: left;
  margin-right: 20px;
}
.section a {
  color: white;
  text-decoration: none;
}

.selected a {
  color: #000;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.logoheader {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  text-align: center;
}

.header {
  background: #31A7AD;
  font-size: 18px;
  height: 2em;
/*  font-weight: bold;*/
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

body{
  background: #E7F2EF;
	margin-left: 5%;
	margin-right: 5%;
  min-width: 650px;
  max-width: 800px;
  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; font-style:normal; font-weight:normal;  
}

.body {
  background: #fff;
  padding: 15px;
  border: solid 1px #339299;
}
