<p><i>isobar</i> is a package for the <a href="http://www.r-project.org/">R</a> statistical computing language and part of <a href="http://www.bioconductor.org/packages/release/bioc/html/isobar.html">Bioconductor</a>. It provides methods for preprocessing, normalization, and report generation for the analysis of quantitative mass spectrometry proteomics data tagged with isobaric labels, such as iTRAQ and TMT. </p>

<p>The statistical models of <i>isobar</i> are described in <a href="http://pubs.acs.org/doi/pdfplus/10.1021/pr1012784">Florian P. Breitwieser <i>et al.</i>, Journal of Proteome Research 2011</a>.
</p>

<h3>Download and Installation</h3>

<p>This project is continiously developed. The stable version on <a href="http://bioconductor.org/packages/release/bioc/html/isobar.html">Bioconductor</a> can be installed by starting R and entering:
<pre>
    source("http://bioconductor.org/biocLite.R")
    biocLite("isobar")
</pre>

The development version on <a href="https://github.com/fbreitwieser/isobar">GitHub</a> can be installed using the <a href="cran.r-project.org/package=devtools">devtools</a> library:
<pre>
    library(devtools)
    install_github("isobar","fbreitwieser",branch="devel") 
</pre>

</p>
