
<p>Please cite our papers when using <i>isobar</i>.</p>

<p>The statistical models of <i>isobar</i> and basic package functionality are described in <a href="http://pubs.acs.org/doi/pdfplus/10.1021/pr1012784">'General Statistical Modeling of Data from Protein Relative Expression Isobaric Tags'</a>, Breitwieser FP <i>et al.</i>, Journal of Proteome Research 2011</a>.
</p>

<p>The <small>PTM</small> extension modules are explained in 'isobar <small>PTM</small>: A Software Tool for the Quantitative Analysis of Post-translationally Modified Proteins' (<i>submitted</i>).
</p>

<p>For a list of all publications citing or using <i>isobar</i>, have a look on <a href="http://scholar.google.at/scholar?cites=3978696839477939063&as_sdt=2005&sciodt=0,5&hl=en">Google Scholar</a>.

