<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>isobar R package for isobaric protein quantitiation</title>

<!--<link rel="stylesheet" type="text/css" href="http://www.cemm.oeaw.ac.at/fileadmin/cemm/templates/css/common.css" media="screen" />-->
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>
<div class="logoheader">
  <font color="red"><em>isobar</em></font> protein &amp; ptm quantitation package for <small>R</small>
</div>
<div class="header">
<div id="s1" class="section"> <a href="index.html">home</a></div>
<div id="s2" class="section"> <a href="isobar.html">package usage</a></div>
<div id="s3" class="section"> <a href="isobar-ptm.html"><small>PTM</small> quantitation</a></div>
<div id="s4" class="section"> <a href="references.html">references</a></div>
<div align="right"><img src="bioconductor_logo_b.png"/></div>
</div>

<script language='javascript'>
document.getElementById("s###ID###").setAttribute("class", "selected section");
</script>

<div class="body">

